<h1><%= @kitten.name %></h1>
<ul>
  <li>
    <h3>Age - <%= @kitten.age %></h3>
  </li>
  <li>
    <h3>Softness - <%= @kitten.softness %></h3>
  </li>
  <li>
    <h3>Cuteness - <%= @kitten.cuteness %></h3>
  </li>
</ul>
